.Capa1{
    color: blueviolet;
}

.Capa2{
    color: rgb(79, 226, 101);
    border: 4px black solid;
}

#P1 {
    color: rgb(255, 255, 255);
    background-color: rgb(235, 11, 216);
    
    
}