/* Fuentes, tamaños y decoracion*/

h1{
    font-family: fantasy;
    font-size: x-large;
    font-style: oblique;
    text-align: center;
    text-shadow: 40px;
}

p{
    font-weight: bold;
    text-align: justify;
}
.p2{
    font-weight: lighter;
    font-size: 20px;
}